<div class="container">
			<div class="page-header">
		
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Welcome", root_url %></li>
					<li><%= link_to "About", about_url %></li>
					<li><%= link_to "Contact", contact_url %></li>

				</ul>

				<ul class="nav navbar-nav navbar-right">
					<%if user_signed_in? %>
					<li><%= link_to "Manage Contacts", posts_url %></li>
					<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% end %>
		
				</ul>
		
		<h1><%= link_to '|| IdealProspects ||' ,'/' %></h1>
	</div>			
	
</div>
				